body{
	margin: 0;
	padding: 0;
	background-color: #C1BFCA;
}

.header{
	margin-top: 5px;
	margin-left: 5px;
	height: 170px;
	width: 1335px;
	border: dashed;
	background-color: #369C90;
}

.title{
	font-family: 'Dancing Script', cursive;
}

.title-image{
	width: 40px;
	height: 40px;
}

.main{
	margin-right: 5px;
	margin-left: 5px;
	height: 1000px;
	width: 1335px;
}

.main-header{
	height: 40px;
	width: 1000px;
	margin-top: 1px;
	margin-bottom: 1px;
	display: inline-flex;
	list-style: none;
	background-color: #F1B296;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.main-header li{
	margin:5px;
	margin-right: 35px;
	margin-bottom: 0px;
	margin-top: 12px;
	padding: 5px;
}

.main-header li a{
	color: black;
	padding: 10px;
	margin: 35px;
	text-decoration: none;
}

.active,.main-header li:hover{
	background-color: white;
	border-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}


.sub-submenu{
	display: none;
}

.main-header li:hover .sub-submenu{
	display: block;
	position: absolute;
	border-radius: 10px;
	background-color: #F1B296;
}

.main-header li:hover .sub-submenu ul{
	display: block;
	margin:0px;
}

.main-header li:hover .sub-submenu ul li{
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background:transparent;
	border-radius: 40px;
}

.main-header li:hover .sub-submenu ul li:hover{
	background-color: #C2812E;
}

.main-header li:hover .sub-submenu ul li:last-child{
	border-bottom: none;
}

.sub-submenu ul{
	list-style: none;
}

.update-submenu{
	display: none;
}


.main-header li:hover .update-submenu{
	display: block;
	position: absolute;
	background-color: #FAF8F7
}

.main-header li:hover .update-submenu ul{
	display: block;
	border:solid;
	border-top: none;
	border-color: #DFB590;
	width: 360px;
	margin: 0px;
}

.main-header li:hover .update-submenu ul li{
	height: 25px;
	border-top: none;
	border-color: #DFB590;
	border-bottom: 1px dotted #DFB590;
	background: transparent;
}

.main-header li:hover .update-submenu ul li:last-child{
	border-bottom: none;
}

.update-submenu ul{
	list-style: none;
}

.update-info{
	float: left;
	width: 210px;
}

.update-time{
	float: right;
	text-align: right;
	right: 5px;
	position: relative;
	font-size: 10px;
}

.Ad{
	height: 700px;
	width: 149px;
	float: left;
	margin: 1px;
}

.containter{
	height: 950px;
	width: 930px;
	padding: 2px;
	margin-left: 40px;
	margin-right:40px;
	float: left;
	border: solid;
	border-radius: 5px;
	border-color: gray;
	border-top: none;
	border-top-left-radius:0px; 
	border-top-right-radius:0px;
	background-color: #fff;
}

/*.heading{
	height: 30px;
	width: 400px;
	border: dashed;
	margin-top: 2px;
	margin-left: 250px;
}

.small-heading{
	height: 30px;
	width: 400px;
	border: dashed;
	margin-top: 70px;
	margin-left: 3px;
	
}

.small-heading-para{
	height: 200px;
	width: 915px;
	border: dashed;
	margin-top: 10px;
	margin-left: 5px
}

.picture{
	height: 250px;
	width: 350px;
	border: dashed;;
	margin: 5px;
	margin-left: 250px;
}
.picture-1{
	height: 270px;
	width: 370px;
	border: dashed;;
	margin: 5px;
	margin-left: 75px;
	float: left;
}

.picture-2{
	height: 270px;
	width: 370px;
	border: dashed;;
	margin-top: 10px;
	margin-left: 470px;

}
*/
.footer{
	margin-left: 5px;
	border-radius: 5px;
	height: 80px;
	width: 1340px;
	background-color: #635E6A;
}

