body{
	margin: 0;
	padding: 0;
}

.header{
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	height: 150px;
	width: 1335px;
	border: dashed;
}

.header-image{
	height: 20px;
	width: 20px;
	background-attachment: fixed;
}

h1{
	font-family: 'Ariel';
}