body{
	margin: 0;
	padding: 0;
}

.header{
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	height: 150px;
	width: 1335px;
	border: dashed;
}

.main{
	margin-right: 5px;
	margin-left: 5px;
	height: 1000px;
	width: 1335px;
	border: dashed;
}

.main-header{
	height: 30px;
	width: 1000px;
	border: dashed;
	padding: 2px;
	margin-top: 1px;
	margin-left: 160px;
}

.Ad{
	height: 700px;
	width: 149px;
	border: dashed;
	float: left;
	margin: 1px;
}

.containter{
	height: 950px;
	width: 930px;
	border: dashed;
	padding: 2px;
	margin-left: 40px;
	margin-right:40px;
	float: left;
}

.heading{
	height: 30px;
	width: 400px;
	border: dashed;
	margin-top: 2px;
	margin-left: 250px
}

.small-heading{
	height: 30px;
	width: 400px;
	border: dashed;
	margin-top: 70px;
	margin-left: 3px
}

.small-heading-para{
	height: 200px;
	width: 915px;
	border: dashed;
	margin-top: 10px;
	margin-left: 5px
}

.picture{
	height: 250px;
	width: 350px;
	border: dashed;;
	margin: 5px;
	margin-left: 250px;
}
.picture-1{
	height: 270px;
	width: 370px;
	border: dashed;;
	margin: 5px;
	margin-left: 75px;
	float: left;
}

.picture-2{
	height: 270px;
	width: 370px;
	border: dashed;;
	margin-top: 10px;
	margin-left: 470px;

}


.footer{
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	height: 200px;
	width: 1335px;
	border: dashed;
}